.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  width: 100%;
  height: 25vh; /* Höhe des Headers auf 25% der Page */
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-header h1 {
  font-size: 1.5rem; /* Schriftgröße im Header */
  margin: 0; /* Kein Margin */
}

.App-header p {
  font-size: 1rem; /* Kleinere Schriftgröße */
  margin: 0; /* Kein Margin */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.error-message {
  color: red;
  margin-top: 10px;
}

.success-message {
  color: green;
  margin-top: 10px;
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 360px); /* Vollbildhöhe minus Header-Höhe */
  padding: 20px; /* Optionaler zusätzlicher Abstand */
}

/* src/App.css */
.dashboard-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

.dashboard {
  width: 300px; /* Sie können diese Breite anpassen */
  background-color: #f4f4f4; /* Hintergrundfarbe des Dashboards */
  padding: 20px;
  border-left: 1px solid #ccc;
}

nav a {
  margin-right: 10px;
  text-decoration: none;
  color: #ac5e5e;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #6200ee;
  color: white;
}

header h1 {
  margin: 0;
}

header nav {
  flex: 1;
  text-align: right;
}


.form-container {
  padding: 30px; /* Abstand um die Features herum */
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container h1 {
  margin-bottom: 10px; /* Reduzierter Abstand */
}

.form-container h2 {
  margin-bottom: 10px; /* Reduzierter Abstand */
}

.form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container form input,
.form-container form button {
  margin-bottom: 5px; /* Reduzierter Abstand */
}

.form-container p {
  margin-top: 10px; /* Reduzierter Abstand */
}

.internal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.internal-container nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
}

.internal-container nav ul li {
  display: inline;
}

.logout-button {
  position: relative;
  top: 100px;
  right: 100px;
  padding: 100px 200px;
  background-color: #f44336;
  color: rgb(109, 53, 53);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #d32f2f;
}


.user-info {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
}

.user-info p {
  margin: 0 10px;
}

.user-info button {
  margin: 0 5px;
}